.todo {
  :global {
    .menu {
      // 40px + 48px
      height: calc(100% - 88px);
      overflow-y: auto;
    }

    .itemlist {
      // 40px + 48px
      height: calc(100% - 88px);
      overflow-y: auto;
    }

    .item {
      &--active {
        background: rgba(0, 0, 0, 0.06);
      }
    }

    .step-container {
      // 41px + 48px
      height: calc(100% - 89px);
      min-height: 600px;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .bf-controlbar {
      padding: 0 4px;
    }
    .bf-content {
      height: calc(100% - 46px);
    }
    
    .public-DraftEditor-content {
      padding: 8px;
    }

    .steps {
      transition: all 0.25s ease;
    }
  }
}
