:root {
  --layout-header-height: 49px; // 48 +  1
  --layout-menu-width: 141px; // 140 + 1
  --layout-menu-setting: 49px; // 48 + 1
}

.layout {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  :global {
    .header {
      height: var(--layout-header-height);

      .userlogo {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }
    }

    .containter {
      height: calc(100vh - 50px);
    }

    .option {
      width: 134px;
      height: 100%;
    }

    .menus {
      max-height: calc(100% - 48px);
      overflow-y: auto;
    }

    .app {
      width: calc(100vw - 180px);
      height: 100%;
      overflow-y: auto;
    }
  }
}
