:root {
  --layout-header-height: 49px; // 48 +  1
  --layout-menu-width: 141px; // 140 + 1
  --layout-setting-height: 41px; // 24 + (8 * 2) + 1
}

.layout {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  :global {
    .header {
      height: var(--layout-header-height);
    }

    .container {
      height: calc(100vh - var(--layout-header-height));
    }

    .menu {
      width: var(--layout-menu-width);
      &_list {
        height: calc(100% - var(--layout-setting-height));
        overflow-y: auto;
      }
    }

    .version {
      height: var(--layout-setting-height);
    }

    .app {
      width: calc(100vw - var(--layout-menu-width));
      height: 100%;
      overflow-y: auto;
    }
  }
}
