.br {
  border: 1px solid var(--border-color);

  &_t {
    border-top: 1px solid var(--border-color);
  }

  &_b {
    border-bottom: 1px solid var(--border-color);
  }

  &_l {
    border-left: 1px solid var(--border-color);
  }

  &_r {
    border-right: 1px solid var(--border-color);
  }
}

.c_primary {
  color: var(--ant-color-link);
}
