.defect {
  :global {
    .filter {
      &-label {
        padding-left: 12px;
        text-align: right;
      }
      &-ranger-picker {
        width: 320px;
      }
    }

    .view {
      &-list {
        height: calc(100% - 97px);
      }
    }
  }
}
