:root {
  --app-demand-header-height: 41px; // 40 + 1
  --app-demand-view-width: 161px; // 160 + 1
}

.demand {
  padding: 0 8px;
  height: 100%;

  :global {
    .header {
      height: var(--app-demand-header-height);
    }

    .container {
      height: calc(100% - var(--app-demand-header-height));
    }

    .view {
      box-sizing: border-box;
      position: relative;
      width: var(--app-demand-view-width);

      &--hidden {
        width: 0;
      }

      &_new {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        background: #fff;
      }
    }

    .list {
      width: calc(100% - var(--app-demand-view-width));

      &--full {
        width: 100%;
      }
    }
  }
}
